body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}
header {
    background: linear-gradient(135deg, #b06be6, #6d5adf);
    padding: 20px;
    text-align: center;
    color: white;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.medical-hero {
    text-align: center;
    padding: 50px;
    background: linear-gradient(135deg, #9f88ff, #ff92f0);
    color: white;
}
.search-bar {
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.filter-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px 0;
}
.filter-btn {
    background: #6d5adf;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}
.filter-btn:hover{
	background-color: #462ae3;
}
.medical-listings {
    padding: 20px;
    max-width: 900px;
    margin: auto;
}
.service {
    background: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.apply-btn {
    background: #6d5adf;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.apply-btn:hover{
	background-color: #462ae3;
}
footer {
    text-align: center;
    padding: 10px;
    background: #9f88ff;
    color: white;
}